@mixin banner {
width: 100%;
position: relative;
color:white;
.banner-content{
  position: absolute;
  top: 50px;
  width: 100%;
}
img{
  width: 100%
}
span{
  font-size: $bannerHeading;
  text-transform: capitalize;
  font-weight: bold;
}
span.title{
  font-weight: bold;
  margin-bottom: 30px;
}
}

@mixin clerFix{
  &:after{
    content:'';
    display: block;
    clear: both;
    cursor: pointer;
    background-color: brown;
  }
}

@mixin grid($cols, $mgn) {
  float:left;
  margin-right: $mgn;
  margin-bottom:$mgn;
  width: ((100% - (($cols - 1)* $mgn)) / $cols );
  &:nth-child(#{$cols}n){
  margin-right: 0;

}
}
